@media (prefers-color-scheme: dark) {

  
    body{
       background: rgb(46, 46, 46);
        
    }

     .nav_container{
        background: rgb(46, 46, 46);
         box-shadow: 1px 1px 1px 1px rgb(77, 77, 77),
                    -1px -1px 2px 2px rgb(160, 160, 160),
                    -1px -1px 3px 1px rgb(85, 85, 85);
    }

    

   ul li a{
        color: #c7c1c1;
        }


  li a:hover{
        color:rgb(172, 172, 172);
    }

    h1{
        text-shadow: 1px 1px 2px rgb(189, 186, 186);
        color: #b3b2b2;
    }

    .firstText, span, .logo, .footer_title{
        text-shadow: 1px 1px 2px rgb(195, 195, 195);
        color: #979797;
       }

       .splash{
        background: rgb(66, 66, 66);
    }

      

       .footer_text{
        text-shadow: 1px 1px 2px rgb(112, 110, 110);
        color: #898b8bef;
       
       }

    p, .footer_last_text{
        color: #929292;
        text-shadow: 1px 1px 1px 1px rgb(240, 239, 239),
                    1px 1px 2px 1px rgb(240, 239, 239);
    }

    #searchBar{
        background: rgb(63, 63, 63);
        color: #fff;
        box-shadow: none;
    }

    
    .search_section:hover {
        box-shadow: none;
    }


    ::selection {
        color:#999999;
        text-shadow:1px 1px 1px rgb(245, 243, 243),
                    1px 1px 2px rgb(245, 243, 243),
                    1px 1px 3px rgb(245, 243, 243);
        
        }

    #home{
        color: rgb(137, 137, 139);
        text-shadow: 1px 1px 1px  rgb(179, 217, 240),
                     1px 1px 2px  rgb(176, 217, 238);
    }


    
    .mypic{
        border: 1px solid rgb(112, 190, 241);
        box-shadow: 1px 1px 2px rgb(140, 169, 233);
        filter: grayscale(1);
    }


    .footer, .footer_last_text{
        background: rgb(46, 46, 46);
    }


    b{
        color: rgb(168, 231, 168);
    }

    

    .footer_text:hover{
        color: rgb(223, 223, 235);
    }



   .social a{
    border: 2px solid rgb(115, 115, 117);
    color: #575858ef;
    box-shadow: 1px 1px 1px 1px rgb(171, 172, 179),
    1px 1px 2px 1px rgb(123, 125, 126),1px 1px 3px 1px rgb(122, 124, 126);
        }
        
        .social a:hover{
            color: #bdbaba;
            border-color: rgb(234, 235, 236);
        }

        .footer{
            box-shadow: -1px -1px 1px 1px gray,
            -1px -1px 2px 1px gray,
            -1px -1px 3px 1px gray,
            -1px -1px 4px 1px gray;
              }
        
              .fa-search{
                  color: gray;
                  text-shadow: 1px 1px 1px rgb(131, 131, 131);
              }

              .fa-search:hover{
                  color: #fff;
              }
    

}