
        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            outline: none;
        }

        body{
            height: 100%; 
            overflow-x: hidden;
            
        }


        /* nav manually css  */
         .nav_container{
             position: sticky; 
             height: 50px;
             background: rgb(214, 218, 215);
             overflow: hidden;
             display: flex;
             justify-content: space-between;
             align-items: center;
             transition: all .1s linear;
        }

        .menu{
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style: none;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 10px;
        }

       ul li a{
            color: #444444;
            text-decoration: none;
            z-index: 99999;
            text-transform: uppercase;
            transition: all .1s linear;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            border-bottom: 1px solid #fff;
            border-bottom-width: 0px;
            margin: 10px;
            text-shadow: 1px 1px 2px gray;
            font-size: 20px;
        }


      li a:hover{
            border-bottom-width: 1px;
            text-shadow: none;
        }

        #scroll_button{
            color: #555555;
            display: none;
            position: fixed;
            bottom: 0;
            right: 0;
            height: 40px;
            width: 40px;
            z-index: 999;
            margin: 10px;
            transition: all 2s linear;
        }

        h1{
            font-size: 30px;
            text-transform: uppercase;
            text-shadow: 1px 1px 2px gray;
            color: #555555;
            margin: 10px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        }

        a{
            text-decoration: none;
        }

        /* first pages title manually css  */
        .firstText{
            text-align: center;
            transform: scale(1.2);
            color: #555555;
            text-transform: uppercase;
            transition: all .2s linear;
            margin: 10px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        }


        /* slider css code  */
    

        p{
            font-size: 20px;
            /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
            font-family: 'Short Stack';
            
            margin:10px 5%  ;
            padding: 10px;
            box-shadow: 1px 1px 1px 1px gray,
            1px 1px 2px 1px gray,
            1px 1px 3px 1px gray,
            1px 1px 4px 1px gray;
        }

        ::selection {
            color:#222222;
            text-shadow:1px 1px 1px gray,
                        1px 1px 2px gray,
                        1px 1px 3px gray;
            
            }

        #home{
            font-size: 35px;
            color: purple;
        }


        .logo{
            color: #555555;
        }

        span{
            color: #4e4e4e;
            font-weight: bold;
            font-size: 25px;
            text-transform: uppercase;
            transition: all .2s linear;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
        }

        .mypic{
            height: 30vh;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin: auto;
            border: 1px solid purple;
            box-shadow: 1px 1px 2px 1px rgb(110, 110, 110);
        }


        /*////////////footer/////////*/

        .footer{
            position: relative;
            left: 0;
            bottom: 0;
            width: 100vw;
            background: rgb(214, 218, 215);
            display: flex;
            justify-content: space-around;
            align-items: center;
            text-align: asteriskt;
            padding: 15px;
           
        }

        .footer_title{
            color: #555555;
            text-align: asteriskt;
            text-align: asteriskt;
            font-weight: normal;
            font-size: 25px;
            text-shadow: 1px 1px 2px gray;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

        b{
            color: green;
        }

        .footer_text{
            text-align: asteriskt;
            text-align: asteriskt;
            color: purple;
            font-size: 20px;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            text-shadow: 1px 1px 2px gray;
            text-decoration: none;
            transition: .2s all linear;
        }

        .footer_text:hover{
            color: #555555;
        }

      

    .footer_last_text{
        text-align: center;
         color: #333333; 
         padding: 0;
          margin: 0; 
          padding: 5px; 
          background: rgb(214, 218, 215); 
          box-shadow: none;
    }

    .search_section{
        height: 30px;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        border: 2px solid gray;
        border-radius: 5px;
        margin-bottom: 7px;
        transition: all .5s linear;
    }

    #searchBar{
        position: relative;
        border: none;
        height: 100%;
        font-size: 18px;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        background: rgb(223, 223, 223);
        padding: 5px 15px;
        width: 100%;
    }

    .search_section:hover {
       box-shadow: 1px 1px 1px 2px rgb(202, 198, 198);
    }

    .fa-search{
        text-align: center;
        position: relative;
        color: purple;
        width: 40px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 30px;
        text-shadow: 1px 1px 1px gray;
    }

    .fa-search:hover{
        text-shadow: none;
        color: gray;
    }


       /*//////////////end/////////////*/



       /*//////////////splash screen////////*/

       .splash{
           position: absolute;
           top: 0;
           left: 0;
           height: 100vh;
           width: 100vw;
           background: #d8d8d8;
           z-index: 9999999; 
           overflow-y: hidden;
        }

   strong {
       width: 70%;
       height: 40px;
       text-align: center;
       font-size: 30px;
       position: absolute;
       top: 50%;
       left: 50%;
       border: 2px solid #555555;
       transform: translate(-50% ,-50%);
       font-family:  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   }

   #loder{
    width: 0%;
    height: 40px;
    position: absolute;
    background: #999999;
    top: 50%;
    left: 50%;
    z-index: -2;
    transition: all .3s linear;
    transform: translate(-50% ,-50%);
    animation: loder_animate ease-in-out 1s infinite;
   }

   @keyframes loder_animate{
       0%{
           width: 0%;
       }

       100%{
        width: 70%;
       }
   }

                .contact_form{
                    padding: 0 10px;
                   font-size: 17px;
                    width: 100%;
                    height: 30px;
                    border: 2px solid gray;
                    background: transparent;
                    border-radius: 5px;
                }

                .contact_form:focus{
                    box-shadow: 1px 1px 1px 2px rgb(200, 199, 200);
                }

                #main_form_control{
                    display: block;
                    margin: 0 10%;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                    position: relative;
                }

                #lisence{
                    background: gray;
                }

                #submit{
                    background: transparent;
                  
                }

                #submit:hover{
                    background: #e4e4e4;
                }

               
       /*/////////////////social media //////*/


       .social a{
        height: 40px;
        width: 40px;
        border: 2px solid purple;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px 2px;
        transition: .2s all linear;
        padding: 10px;
        color: purple;
        box-shadow: 1px 1px 1px 1px gray,
        1px 1px 2px 1px gray,1px 1px 3px 1px gray;
            }
            
            .social a:hover{
                box-shadow: none;
                color: #555555;
                border-color: #555555;
                transform: scale(.8);
            }
            
            .social {
               padding: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
    
    /*/////////ended//////////*/

    @media (max-width:700px){
        .footer{
            flex-direction: column;
            justify-content: center;
        }

       
    }
    
    

        @media (min-width: 768px){


            .menu, h1{
                margin: 30px;
            }

            .firstText{
                transform: scale(1.4);
            }

            
            
        }

       

        @media (min-width: 1200px){

            .menu, h1{
                margin: 40px;
            }

            .social a,  #scroll_button{
                height: 50px;
                width: 50px;
            }

            

            

            }

            @media (min-width: 1500px){

                .menu, h1{
                    margin: 60px;
                }

                
                .firstText{
                transform: scale(1.5);
            }

                }

          @media (min-width: 1800px){

                    .menu, h1{
                        margin: 70px;
                    }

                    }



    
